<footer class="footer">
  <p>Copyright &copy; <%= Time.now.year %> Cary Yang. <%= link_to 'This website', 'http://github.com/cyang1/cyang1.github.io' %> is built with <%= link_to 'Middleman', 'http://middlemanapp.com/' %> and hosted on <%= link_to 'Github Pages', 'http://pages.github.com/' %>.</p>
</footer>